:root {
  --main-color: #ffffff;
  --footer-color: #2f303a;
  --font-color: #212121;
  --logo-color: #000000;
  --blue-color: #2196f3;
  --description-color: #757575;
  --button-color: #f5f4fa;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--font-color);
}

.logo {
  color: var(--logo-color);
  font-family: Raleway;

  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.blue {
  color: var(--blue-color);
  text-decoration: none;
}
.button:hover {
  background-color: var(--blue-color);
  color: var(--main-color);
  cursor: pointer;
}
.button {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  background-color: var(--button-colr);
  cursor: pointer;
}
.navi {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.13;
  color: var(--font-color);
  text-decoration: none;
}
.navi:hover {
  color: var(--blue-color);
}
.navi-blue {
  color: var(--blue-color);
  text-decoration: none;
}
.contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: #757575;
  text-decoration: none;
}
.contact:hover {
  color: var(--blue-color);
}
.main-header {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
}
.header-style {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 00.03em;
  color: var(--font-color);
}
.header-button {
  font-size: 16px;

  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  background-color: var(--blue-color);
  color: var(--main-color);
  cursor: pointer;
  display: flex;
  align-items: center;
}

.list-header {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--font-color);
}
.list-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--description-color);
}
.team-header {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: var(--font-color);
}
.team-profession {
  font-size: 16px;
  line-height: 19px;
  color: var(--description-color);
}

.team-background {
  background-color: var(--button-color);
}

.footer-background {
  background-color: var(--footer-color);
}
.address-color {
  color: var(--main-color);
}
.footer-logo-color {
  color: var(--main-color);
}
.portfolio-header {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 00.06em;
  color: var(--font-color);
}
.portfolio-header-paragraph {
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 00.03em;
  color: var(--description-color);
}
 
{header}